@import '../../../styles/variables.scss';
$color-texto : #777;
.buscador {
    .buscador__input{
        &:focus{
            outline: 0px;
            box-shadow: 0 0 0 0 rgba(233, 105, 16, 0.25);
        }
    }
}
.card{
    min-height: 150px;
    color: $color-texto;
    transition: all ease .5s;
    &:hover{
        box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.5);
    }
    .card__acciones{
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 0px 10px;
        .card__accion{
            cursor: pointer;
            color: map-get($theme-colors, "primary");
            transition: all ease .3s;
            &:hover{
                opacity: .5;
            }
        }
    }
    .card__icono{
        max-width: 45px;
        border-right: 2px solid $color-texto;
    }
}
