@import '../../../styles/variables.scss';

.toast{
    width: 100%;
    max-width: 2000px;
}

#modal__crear{
    padding-right: 0px !important;
    padding-left: 0px !important;
    color: map-get($theme-colors, "primary");
    .modal-dialog {
        transform: none;
        max-width: 3000px;
        width: 400px;
        height: 100%;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        .modal-content{
            border-width: 0px;
            border-radius: 0px;
            width: 100%;
            height: 100%;
            background-color: #FFF;
            .toast-body{
                color:  map-get($theme-colors, "primary");
            }
            .modal-title{
                color: #999;
            }
            .close{
                background-color: map-get($theme-colors, "primary");
                border-radius: 24px 0px 0px 24px;
                color: #FFF;
                opacity: 1;
                transition: all 0.5s ease;
                margin-top: 10px;
                padding: 10px 20px 10px 20px;
                outline: 0px;
                &:hover{
                    padding: 10px 25px 10px 20px;   
                }
            }
        }
    }
}

@media (max-width: 640px){
    #modal__crear{
        padding-right: 0px !important;
        .modal-dialog {
            transform: none;
            max-width: 3000px;
            height: 100%;
            width: 100%;
            margin-top: 0px;
            .modal-content{
                border-width: 0px;
                border-radius: 0px;
                width: 100%;
                height: 100%;
            }
        }
    }
}
